body {
  margin: 0px;
  background-color: darkgrey;
  color: #325896;
}

header {
  background-color: #0075ba;
  display: flex;
}

header img {
  height: 50px;
  padding: 10px;
}

.graph-body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  grid-template-areas:
    "card1 card2 card3"
    "longcard longcard longcard";
  padding: 10px;
}

.graph-card {
  padding: 15px;
  background-color: white;
  /* height: 200px;
  width: 400px; */
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.103);
  display: flex;
  align-items: center;
}

.card1 {
  grid-area: card1;
}

.card2 {
  grid-area: card2;
}

.card3 {
  grid-area: card3;
}

.long-card {
  grid-area: longcard;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-rows: 1; */
}

.long-card div {
  margin: 10px;
}
